- name: Set up Arch Linux container and build
  uses: addnab/docker-run-action@v3
  with:
    image: archlinux:latest
    options: --privileged
    workspace: ${{ github.workspace }}
    run: |
      # Update pacman and install dependencies
      pacman -Sy --noconfirm
      pacman -S --noconfirm base-devel cmake git wget fuse3 \
        qt5-base qt5-tools qt5-svg qt5-x11extras \
        kwindowsystem baloo libxtst libxdamage libxcomposite libxrender libxcb \
        xcb-util libdbusmenu-qt5 kdbusaddons libpulse pkgconf icu

      cd $GITHUB_WORKSPACE

      # Build Menu
      mkdir -p build && cd build
      cmake ..
      make -j$(nproc)

      # Install into AppDir for linuxdeployqt
      DESTDIR=$PWD/AppDir make install

      # Download linuxdeployqt AppImage
      wget https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage
      chmod +x linuxdeployqt-continuous-x86_64.AppImage

      # Create AppImage (no -output option)
      ./linuxdeployqt-continuous-x86_64.AppImage AppDir/usr/share/applications/*.desktop -appimage

      # Move AppImage to GitHub Actions workspace
      mv *.AppImage $GITHUB_WORKSPACE
